footer{
    background-color:white;
    font-family: Poppins,sans-serif;
    color:#0CC284;
}
footer .footer-top{
    padding-top:30px;
    padding-bottom:30px;
}
footer .footer-top .list-group {
    margin-bottom: 15px;
}
footer .footer-top .list-group .list-group-item {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0;
    color:#0CC284;
}
a, a:hover {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
a {
    color: inherit;
    background-color: transparent;
}
a:hover {
    color: #b67f01;
}
footer .footer-top .list-group {
    margin-bottom: 15px;
}
.justify-content-center {
    justify-content: center!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.list-group-horizontal {
    flex-direction: row;
}
footer .copy-right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
/* @media (min-width: 992px)
.flex-lg-row {
    flex-direction: row!important;
} */
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
footer .copy-right-section .copy-right-text {
    font-weight: 300;
    color: #0CC284;
}
.pl-2, .px-2 {
    padding-left: .5rem!important;
}
.pr-2, .px-2 {
    padding-right: .5rem!important;
}
footer .copy-right-section .list-group .list-group-item {
    border: 0;
    background: transparent;
    font-weight: 300;
    color: #0CC284;
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-group-horizontal>.list-group-item:first-child {
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
}
