.navbar-button{
    border:1px solid #15DB91;
    border-radius: 5px;
    color:#15DB91;
    background-color: white;
    padding:5px 12px;
    font-size: 18px;
    font-family: Sarabun,Regular;
}
.nav-item a:visited{
    color:#15DB91;
}
.navbar-button:focus {outline:none;} ::-moz-focus-inner {border:0;}